<div *ngIf="!userIsConnected">
    Connectez-vous pour accéder à votre profil.
  </div>
  
  <div *ngIf="userIsConnected">
    <div id="profileTitle">Votre profil</div>
  
    <!-- Le formulaire pour changer le mot de passe vous est déjà fourni -->
    <div class="profile">
      <div>Modifier le mot de passe</div>
      <input type="password" name="oldPassword" id="oldPassword" placeholder="Mot de passe actuel" [(ngModel)]="oldPassword">
      <input type="password" name="newPassword" id="newPassword" placeholder="Nouveau mot de passe" [(ngModel)]="newPassword">
      <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" placeholder="Confirmer le nouveau mot de passe" [(ngModel)]="newPasswordConfirm">
      <button (click)="changePassword()">Modifier</button>
    </div>

  

  </div>
   <!-- Nouveau formulaire pour modifier la photo de profil -->
   <div class="profile">
    <div>Modifier la photo de profil</div>
    <img [src]="imageSrc" alt = "Picture">
    <input type="file" #myFileInput id="profileImageInput" accept="images/*" (change)="imgFileSelected($event)">
    <button (click)="ProfilePic()" >Mettre à jour la photo</button>
  </div>

  <!-- "https://localhost:7216/api/Users/GetAvatar/{{username}}" -->